body{
      background-color: #212121;
      overflow: visible;
      height: 100vh;
      background-color: #212121;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      color: white;
      font-size: 14px;
      line-height: 20px;
}

.menu{
display:flex;
position :fixed;
color: #fff;
width: 100vw;

z-index: 1000;
background-color: #212121;
}
.rubriques{
display:flex;
justify-content: space-around;
height: 5vh;

}

#presentation{
      
      
      display:flex;
}

.blocPresentation{margin-top: 10em; 
display:flex;
justify-content: center;
flex-direction: column;
}

a.links{color:white;}
a.links:hover{color:white;text-decoration: underline ;
}
.card{background-color:#212121;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      display:flex;
      justify-content: center;
}
/*carte des compétences*/

.titleCompetence{margin-top:5em;
margin-bottom:2em; }

.titlecomp{

      display:flex;
      justify-content: center; 
      margin-bottom: 2em;
      margin-top : 2em;
}
/*.card-img-top{width: 100;
      height: auto;}*/


#portfolio{
      background-image: url("img/portfolio.jpg");
      width:  100;
      min-height:80vh;
      display: flex;
      flex-direction: column;
    
}

#blog{
     background-image: url("img/blog.jpg");
     width: 100;
     min-height:80vh; 
     display: flex;
     flex-direction: column;
}

#jeux{
     background-image: url("img/jeux.jpg");
     width: 100;
     min-height:80vh;
     display: flex;
     flex-direction: column;
}
h4{margin-bottom:1em;
margin-top:1em;}